<form method="post" action="/login">
  <div>
    Email:
    <input type="text" name="email" />
  </div>
  <div>
    Password:
    <input type="password" name="password" />
  </div>
  <div>
    <button type="submit">Sign In</button>
  </div>
</form>